<h1 id="header"> HOMEPAGE</h1>

<button id="logout" class="logout-button">Logout</button>

{{#each allPosts}}
  <div id="posts" class="post">
    <section class="post-box">
      <h2> @{{user.username}} posted</h2>
      <h1>{{title}}</h1>
      <p> {{content}}</p>
    </section>
  </div>
{{/each}}

<script src="/js/homepage.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>